@font-face {
  font-family: "iconfont"; /* Project id 3962218 */
  src: url('~@/iconfont/iconfont.eot?t=1679810077958'); /* IE9 */
  src: url('~@/iconfont/iconfont.eot?t=1679810077958#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~@/iconfont/iconfont.woff2?t=1679810077958') format('woff2'),
       url('~@/iconfont/iconfont.ttf?t=1679810077958') format('truetype'),
       url('~@/iconfont/iconfont.woff?t=1679810077958') format('woff'),
       url('~@/iconfont/iconfont.svg?t=1679810077958#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e68f";
}

.icon-zhankai:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-gerenzhongxin:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e604";
}

.icon-xiangmuwenjian:before {
  content: "\e605";
}

.icon-xiangmu1:before {
  content: "\e606";
}

.icon-xiangmu2:before {
  content: "\e607";
}

.icon-zhengcewenjian:before {
  content: "\e608";
}

.icon-zhengce1:before {
  content: "\e609";
}

.icon-shijian:before {
  content: "\e60b";
}

.icon-shangyiye:before {
  content: "\e60c";
}

.icon-xiayiye:before {
  content: "\e60d";
}

.icon-bofang:before {
  content: "\e60e";
}

.icon-zanting:before {
  content: "\e60f";
}

.icon-tishi:before {
  content: "\e610";
}

.icon-jingti:before {
  content: "\e611";
}

.icon-bangzhu:before {
  content: "\e612";
}

.icon-zengjia:before {
  content: "\e613";
}

.icon-jianshao:before {
  content: "\e614";
}

.icon-caidanliebiao:before {
  content: "\e61c";
}

.icon-wode:before {
  content: "\e61f";
}

.icon-shouji:before {
  content: "\e620";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e626";
}

.icon-weizhi:before {
  content: "\e627";
}

.icon-weizhi1:before {
  content: "\e628";
}

.icon-riqi:before {
  content: "\e629";
}

.icon-shouye1:before {
  content: "\e62a";
}

.icon-shangchuan:before {
  content: "\e62b";
}

.icon-xiazai:before {
  content: "\e62c";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-gengduo:before {
  content: "\e62e";
}

.icon-dingyue:before {
  content: "\e630";
}

.icon-baogao:before {
  content: "\e633";
}

.icon-shangpuguanli:before {
  content: "\e635";
}

.icon-gouwu:before {
  content: "\e636";
}

.icon-wenjianjia:before {
  content: "\e63a";
}

.icon-shezhi:before {
  content: "\e63b";
}

.icon-shezhi1:before {
  content: "\e63c";
}

.icon-tuichu:before {
  content: "\e63d";
}

.icon-shezhi2:before {
  content: "\e63f";
}

.icon-bianji:before {
  content: "\e642";
}

.icon-bianji1:before {
  content: "\e643";
}

.icon-xitongtongzhi:before {
  content: "\e646";
}

.icon-shanchu:before {
  content: "\e648";
}

.icon-youjian:before {
  content: "\e649";
}

.icon-shaixuan:before {
  content: "\e64b";
}

.icon-biaoqian:before {
  content: "\e64e";
}

.icon-ditu:before {
  content: "\e650";
}

